/* 样式 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('pic/background.jpg'); /* 背景图片路径 */
  background-size: cover;
  color: white;
  border-radius: 20px; /* 圆角半径，可以根据需要调整 */
}

/* 游戏容器 */
.game-container {
  text-align: center;
  padding-top: 100px;
}

/* 按钮样式 */
.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; /* 按钮背景颜色 */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}

/* 切换服务器按钮样式 */
.switch-server-button {
  position: absolute;
  bottom: 10px; /* 距离底部的距离 */
  left: 10px; /* 距离左边的距离 */
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* 表单样式 */
.form {
  display: none;
  background-color: #333; /* 表单背景颜色 */
  padding: 20px;
  margin: 20px auto;
  max-width: 300px;
  border-radius: 20px;
}
